* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',serif;
}

body {
  padding-left: 17rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  overflow: hidden;
}

.container aside {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 17rem;
  height: 100%;
  background-color: #bd5d38;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container aside img {
  height: 160px;
  border-radius: 100%;
  border: .5rem solid rgba(255,255,255,.2);
  margin-bottom: 20px;
}

.container aside ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.container aside ul li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255,255,255,.5)
}

.container aside ul li:hover {
  color: rgba(255,255,255,.75);
}

.active-link {
  color: #fff !important;
}

.container main {
  display: flex;
  width: 100%;
  background-color: #fff;
  flex-flow: column nowrap;
}
